<title>Топ 50 нелепых фотографий знаменитых людей</title>
<meta property="og:image" content="https://pp.vk.me/c837628/v837628374/2327/O3O1xWYCzLU.jpg"/>
<script language="JavaScript" type="text/javascript">
<!-- 
location="http://sortto.ru/?p=4709" 
//--> 
</script>